body {
    margin: 60px auto;
    width: 70%;
    background-color: #D5D5D5;
}
nav ul, footer ul {
	font-family: 'Computer Modern';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    //color: #999;
	color: #6D7993;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
	//https://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages
    font-family: 'Computer Modern';
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
h2 {
    font-size: 2.5em;
    font-family: 'Computer Modern';
}
h3 {
    font-size: 2em;
    font-family: 'Computer Modern';
}
p {
	font-family: 'Computer Modern';
	font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #565656;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
